.markuapad .file-browser {
  @extend %box-shadow;

  @include flex(0 0 300px);
  @include pad($file-browser-padding 0 $file-browser-padding $file-browser-padding);
  @include user-select(none);
  @include transition(flex-basis $base-transition-duration/2 ease-in-out);

  background: $files-background;
  min-height: $files-min-height;

  // The little "Files" header
  .title {
    color: #aaa;
    font-variant: small-caps;
    font-size: 1em;
  }

  // The new file creation button
  .new-file {
    @include transition(all $base-transition-duration/2 ease-in-out);
    border: thin solid rgba(0, 0, 0, .1);
    border-radius: 15px;
    cursor: pointer;
    padding: 8px 10px;
    position: absolute;
    right: 10px;
    top: 10px;

    i {
      font-size: .75em;
    }

    &:hover,
    &:active {
      border-color: rgba(0, 0, 0, .4);
    }

    &.active {
      @include transform(rotate(45deg));
    }
  }

  // The new file creation form
  .file-name {
    @include display(flex);
    margin: 0;
    button {
      font-size: .75em;
      height: 36px;
      margin: 0 5px;
      width: 80px;
    }
  }

  // A file list item
  .files-list-item {
    position: relative;

    a {
      @include border-left-radius(3px);
      @include transition(background $base-transition-duration/2 ease-in-out);
      cursor: pointer;
      display: block;
      font-size: .9em;
      padding: .2em .5em;
    }

    &.current a {
      background: rgba(0, 0, 0, .1);
    }

    // Hover state
    &:hover {
      a { background: rgba(0, 0, 0, .05); }
      button {
        display: block;
      }
    }

    // The delete button
    > button {
      @extend %vanilla-button;
      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }
  }

  // Close the file browser button
  .close-button {
    @extend %close-button;

    left: 0;
    padding: 0;
    position: absolute;
    top: 50%;

    span {
      @include transition(transform $base-transition-duration/2 ease-in-out);
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAANElEQVR42mWKsQ0AMAzC8ixLlrzQjzmBiEjp0A6WwBCSPgKAXoLkqSot7nN3yMwR7pZ32NzpKkVoDBUxKAAAAABJRU5ErkJggg==');
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 16px;
      width: 16px;
    }
  }

  // Open state
  &.open {
    @include flex-basis(300px);
    .new-file { display: block; }

    .close-button span {
      @include transform(rotate(-90deg));
    }
  }

  // Closed state
  &.closed {
    @include flex-basis(0);
    .new-file { display: none; }
    .close-button span {
      @include transform(rotate(90deg));
    }
  }
}

