.markuapad .toolbar {
  margin: 20px 0;
  li {
    display: inline-block;
    margin: 0 5px;
  }

  a {
    @include transition(all $base-transition-duration ease-in-out);

    border: thin solid rgba(0, 0, 0, .0);
    border-radius: 18px;
    padding: 8px 20px;

    &:hover {
      background: #fff;
      border-color: rgba(0, 0, 0, .1);
    }
  }
}
