// Colors
$editor-background: #fff;
$files-background: #fff;
$background: #f5f5f5;

// Transitions
$base-transition-duration: .250s;

// Layout
$editor-min-height: 90%;
$files-min-height: 90%;
$editor-padding: 2em;
$file-browser-padding: 1em;
