// Bourbon
@import "./variables";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

#markuapad-about {
  padding: 20 10 0 10;
  .nav-links {
    float: right;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    li {
      vertical-align: middle;
      display: inline-block;
      margin: 0 5px;
      a {
        color: #777;
        &:hover {
          color: #222;
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}

body {
  background: $background;
  font-family: 'Open Sans', sans-serif;
  margin: 0 8px;
}
